body {
  background-image: url("fresh_snow.png");
}

body h1 {
  font-size: 8em;
  text-align: center;
}

.content {
  width: 90%;
  margin: 0 auto;
}

.cats {
  border: 8px solid black;
  border-radius: 30px;
  height: 600px;
  background-color: #ddd;

  margin-top: 50px;
}

.cats h2 {
  padding-left: 30px;
  padding-bottom: 20px
}

.cats img {
  height: 400px;
}

.cats p {
  padding: 20px 10px 0 10px;
  font-size: 1.5em;
  text-align: center;
}
