<h1>Tasks:</h1>

<div id="tasks">

  <input type="text" v-model="newTask">
  <button v-on:click="addTask()">Add Task</button>

  <ul>
    <li v-for="task in tasks" v-on:click="markComplete(task)">
      <span v-if="task.completed" class="strike">{{task.name}}</span>
      <span v-else>{{task.name}}</span>
    </li>
  </ul>

<button v-on:click="deleteCompleted()">Delete Completed Tasks</button>




</div>
