<button onclick="getData()">Employees</button>
<button onclick="showAll()">Show All</button>
<button onclick="showPolice()">Show Police</button>
<br>
<br>
<button onclick="getData2()">Permits</button>
<button onclick="showExpensivePermits()">Show Item > $53</button>
<button onclick="showAllPermits()">Show All</button>
<button onclick="removeWingDings()">Remove WingDings</button>

<div id="employees"></div>

<div id="permits"></div>
